<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Rolling file appender -->
        <RollingFile name="File" fileName="logs/app.log"
                     filePattern="logs/app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

          <!-- Appenders for different classes -->
        <RollingFile name="ProducerAppender" fileName="logs/Producer.log"
                     filePattern="logs/SimpleProducer-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="ConsumerAppender" fileName="logs/Consumer.log"
                     filePattern="logs/SimpleConsumer-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>


    <!-- Loggers -->
    <Loggers>
            <!-- Logger for Class1 -->
        <Logger name="com.demo.kafka.SimpleProducer" level="INFO" additivity="false">
            <AppenderRef ref="ProducerAppender"/>
        </Logger>

        <!-- Logger for Class2 -->
        <Logger name="com.demo.kafka.SimpleConsumer" level="INFO" additivity="false">
            <AppenderRef ref="ConsumerAppender"/>
        </Logger>

        <!-- Root logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
